@font-face {
	font-family: 'spaceranger';
	src: url('spaceranger-rus.otf') format('opentype');
  }
@font-face {
	font-family: 'ebg';
	src: url('ebg.otf') format('opentype');
  }



html{
	max-height: 100vh;
	max-width: 100vw;
}

body {
	font-family: 'ebg', sans-serif;
	background-image: url('./img/bgr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	
	color: white; /* Цвет текста */
	text-align: center;
  }
  
  header {
	font-family: 'spaceranger', sans-serif;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8); /* Подкладка на задний фон */
	padding: 5px;
	border-radius: 27%;
	width: 50%;
	z-index: 999;
	margin: auto;
  }
  
  footer {
	margin-top: 10px;
	font-family: 'spaceranger', sans-serif;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8); /* Подкладка на задний фон */
	padding: 10px;
  }
  .language-selector {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.block_sections section{
	/* background-color: rgba(0, 0, 0, 0.8);
	width: 60%;
	margin: auto;
	border-radius: 20%; */
}

.checks_about {
    background-color: rgba(0, 0, 0, 0.8);
    width: 30%;
    margin: auto;
    border-radius: 25%;
}

.checks_hrefs a {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 35%;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.zayavka{
	background-color: rgba(0, 0, 0, 0.8);
	width: 50%;
	margin: auto;
	border-radius: 5%;
}

.zayavka h4{
	padding-top: 5px;
}

.about-section{
	background-color: rgba(0,0,0,0.8);
    width: 66%;
    margin: auto;
    border-radius: 30%;
    padding-bottom: 2px;
}

@media only screen and (max-width: 600px) {
	header {
	  width: 95%; /* Увеличьте ширину хедера для лучшей читаемости */
	}
	
	header p {
		letter-spacing: 0.6mm;
	}

	section {
	  width: 80%; /* Увеличьте ширину секций для лучшей отзывчивости */
	}

	.zayavka{
		width: 80%;
	}

	.checks_about{
		width: 80%;
		border-radius: 10%;
	}
	
	.checks{
		margin: auto;
	}

	.test_section{
		margin: auto;
	}

	.about-section{
		width: 90%;
	}
}

.slider {
	display: flex;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slide {
	flex: 0 0 100%;
	transition: transform 0.5s;
	
  }
  
  .slide img {
	width: 100%;
  }
  
  .prev-btn,
  .next-btn {
	position: absolute;
  }
  
  .prev-btn {
	left: 10px;
  }
  
  .next-btn {
	right: 10px;
  }


.in_dev{
	display: none;
}

.pages{
	background-color: rgba(0, 0, 0, 1);
    width: 20%;
    margin: auto;
    margin-top: 10px;
    border-radius: 20%;
}

.pages-btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}

.pages-btn:hover {
	background-color: #002fed;
}
.pages-btn:active {
	background-color: #2f599e !important;
}
.pages-btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}

